<h2>Game</h2>

<ul>
<li>Not tile based</li>
<li>Bleed health</li>
<li>Arena after arena with rest stops</li>
<li>Randomized mutations for end game</li>
</ul>

<h2>System</h2>

<ul>
<li>Actor contains basic variables and functionality
<ul>
<li>Derived enemy/hero contains spells and attribute for actor to use</li>
<li>Bleed is a second health bar
<ul>
<li>Bleed takes full damage, health takes percent inversely on defense</li>
<li>Healing sets bleed = health</li>
<li>every turn health-- if bleed is lower</li>
</ul></li>
<li>Players contain inventory <code>std::array&lt;*Item&gt;</code> and a skill tree</li>
</ul></li>
<li>Avoid up or down casting team pointers</li>
<li>Town area to buy items and place bets</li>
<li>Items contain stat bonuses and a spell, which can be used, on-hit, or on-cast</li>
<li>Do mythic plus</li>
</ul>
